.main-head {
  text-align: center;
  color: rgb(55, 125, 102);
  text-decoration: underline;
}

.card-1 {
  border: 10px solid transparent;
  background-color: rgb(192, 194, 195);
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px 5px rgb(245, 230, 230);
  border-image: url(./image/border-image.png) 30 round;
  text-align: center;
}

.pay-1 {
  text-align: left;
}

.slide-bar {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100px;
}

.container {
  margin-left: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: 3fr 3fr 3fr;
}
